body{
    background-color: rgb(228, 224, 245);
    display: flex;
    justify-content: center; align-items: center;

    .elem{
        width: 800px; 
    }

    .item{
        border: 2px solid rgb(14, 13, 13); 
        border-radius: 10px ;
       display: flex;
       justify-content: center;
       height: 40px;
       align-items: center;
    }

    #conteneur{
        width: 800px; height: 900px; 
        
    }

    .enfants2345{
        display: flex;
       
    }
          .element2{
            width: 40%;
            height: 85px;
    }
          .petitenfant345{
    width: 80%;
   }
    .souspetit{
        display: flex;
        width: 100%;
        
    }
    .items{
     width: 50%;
    }

    .items3{
        display: flex;
    }

    .item4{
      flex: 2;
    }
    .item5{
        flex: 1;
    }
}
